:root{
  --white:#fffff7;
  --background:#021118;
  --tab-background:#272a38;
  --primary-blue:#00E0FE;
  --section:#021822;
}

 *{
    box-sizing: border-box;
} 

html{
    scroll-behavior: smooth;
}
  
body{
  font-family:'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  color:var(--white); 
  background-color:var(--background);
}

/* main{
  margin-left: 10%;
  margin-right:10%;
} */

  
/***** FONTS/TEXT  *****************************************************/
h1{
  width:50%;
  margin-top:0;
  margin-bottom: 1%;
  margin-left: 2%;
  padding-top: 1%;
  font-family: 'Tangerine';
  font-size: 45px;
}
  
h2{
  font-size: 16px;
  font-weight: bold;  
  margin-top:0;
}
  
h3{
  font-size: 14px;
  text-align: center;
}

.h4{
    display: block;
    margin-top:5%;
    padding-top: 2%;
}

h5{
  text-align: center;
  width: 50%;
  font-size: 1rem;
}
  
p{
  font-size: 12px;
  margin:0;
}

button {
  width: 6em;
  height:32px;
  border-radius:10px;
  margin-top: 2%;
  justify-content: center;
  color:var(--white); 
  background-color:var(--background);
  border: 0.1em  solid var(--white) ;
  letter-spacing: 0.7px;
  cursor: pointer; 
}

button:hover {
    background-color: var(--primary-blue); 
    color: var(--background);
    border: 0.1em  solid var(--white) ;
    transition: all 0.6s ease;
  }

.active{
    margin: 2%;
}

/****** HEADER  ********************************************************/
header{
  background-repeat: no-repeat;
  height:30vh;
  position:relative;
}
  
.profile-picture {
  height: 16vh;
  width: 16vh;
  border-radius:50%;
  position:absolute;
  right: 5%; 
  bottom: -6%;
  object-fit: cover;
  border:1px solid;
}


/* .navigation-header {
  background-color: red;
  display: flex;
  height: 5vh;
  align-items: stretch;
  justify-content: flex-end;
  position: relative;
  flex-direction: column-reverse;
}  */


.burger{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  
    
  &:before {
    content: "";
    background-color: #00E0FE;
    border: 1px solid;
   position: absolute; 
   margin-right:5%;
   margin-top: 2%;
   right: 0;
   top: 0;
   width: 30px;
   height: 3px;
   box-shadow: 0 18px 0 0 white, 0 10px 0 0 white;
  }
}

nav{
  display: none;
}
  
/***** ABOUT ME SECTION  **************************************************/
.about-me-section{
  text-align: center;
  margin: 8%;
}


/****** TAB & PANELS ***************************************************/

.panel-wrapper{
  display: block;
}

.tabs {
  display: flex; 
  column-gap: 2%;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.05em;
}

.tab{
  font-size: 0.80em;
  cursor: pointer;
  padding:5px 5px;
  display:inline-block;
  border-radius:5px 5px 5px 5px; 
}

.panels{
  padding:3%;
  /* background-color: var(--tab-background); */
}

.panel{
  display: grid;
  grid-template-columns: 1fr; 
  border-bottom: 1px solid;
  display:none; 
  animation: fadein 3s;
  background-color: var(--tab-background);
  border-radius: 5px 180px 180px 5px ; 
}
  @keyframes fadein {
    from{
      opacity:0;
    }

    to{
      opacity:1;
    }
}

.panel-picture{
  display: flex; 
  /* grid-column: span 2;  */
  width: 20%;
  border-radius: 5px 5px 5px 5px;
  filter: blur(4);
}  

.text-box{
  display: flex;
  /* grid-column: span 2; */
  flex-direction: row;
  width: 100%;
  justify-content: center; 
  align-items: center;
}

.panel-title{
  font-size:1em;
  font-weight:bold;
}

.panel-p{
  width: 150%;
}

.a-panel{
  text-align: center; 
  width: 30%;
}

.radio{
  display:none;
}

/* #one:checked ~ .panels, #one-panel, */

#one:checked ~  .panels #one-panel,
#two:checked ~  .panels #two-panel,
#three:checked ~ .panels #three-panel,
#four:checked ~  .panels #four-panel
{
  display:flex;
}

  #one:checked ~ .tabs #one-tab, 
  #two:checked ~ .tabs #two-tab,
  #three:checked ~ .tabs #three-tab
   {
    background-color: var(--tab-background);
    color: var(--primary-blue);
  }



/**** FORM ******************************************************/

 .section-form{
  background-color:var(--section); 
  margin:0;
  width: 100%;
  /* border-top: 0.5px solid;
  border-bottom: 0.5px solid; */
  /* overflow: auto; */
 }

 .myForm {
   height: 40vh;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: center;
   justify-content: space-evenly;
   border-radius: 3px;
   padding: 4.1em;
   margin: 2%;
   border: 0.5px solid;
 }

 textarea{
  padding: 0.5em;
  margin:0;
  font-size: 12px;
 }

 .message {
   display: flex;
   flex-direction: column;
   order: 2;
   min-height: 15vh;
 }

 .message > textarea {
  flex: 1; 
  min-width: 22em; 
 }

 .contact {
   flex: 1; 
   order: 1;
   margin:0;
   
 }

 .contact input {
display: block;
   width: 80%;
   margin-top: 1%;
   margin-bottom: 2%;
 }

 .contact input, 
 .contact select,
 textarea {
  padding: 0.5em; 
  border-style: none; 
  border-radius: 3px 3px 3px 3px;
} 

.message-label {
  margin-bottom:2%;
  font-size: 12px;
}

.contact-label{
  margin:0;
  font-size: 12px;
} 
select{
 margin-top:1%;
 margin-bottom:2%;
}


/***** FOOTER  **************************************************/
footer {
  margin: 3%;
  width: 100%;
  position: fixed;  
  bottom:0;
} 

li{
  list-style: none;
}

footer p{
    font-size: 1rem;
  }

ol{
    padding:0;
}

.footer-container {
    display: block;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
    text-align: center;
   } 

a{
  /* width: 50%; */
display: block;
  margin: 1%; 
  font-size: 0.8em;
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
}



/******  ON TABLET  ********/
@media (min-width: 668px ) {
    .burger {
        display:none;
    }
    nav{
      display: block;
      width: 100%;
      text-align: right;
      margin-right: 5%;
      background-color: #505778;
    }  
  }



/*******  ON MOBILE  ********/
@media screen and (max-width: 667px) {
  
  .panels{
   display: flex;
   justify-content: center;
   padding:0;
   margin:0;
  }


  .panel{
    /* display: flex; */
    justify-content: center;
    padding: 2%;
    width:80%;
    border-bottom: 0.5px solid;
    background-color: var(--tab-background);
    border-radius: 5px 5px 5px 5px ; 
  }

  .text-box {
    display: flex;
    grid-column: span 2; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    }
      
    #one:checked ~ .panels #one-panel,
    #two:checked ~ .panels #two-panel,
    #three:checked ~ .panels #three-panel,
    #four:checked ~ .panels #four-panel
      {
        display:block;
      }

  .panel-picture{
    width: 50%;
    height: auto;
  } 

  .panel-p{
    width: 60%;
    text-align: justify;
    letter-spacing: 0;
  }
 
  p{
    font-size: 10px;
  }

  h5{
    margin-top: 15px;
  }

  .burger{
    display: block;
  }  
  .nav{
    display: none;
  }

  nav.open{
    margin:0;
    height: 40vh;
    width: 40%;
  }

  nav a{
    padding: 5%;
    display: block;
    margin: 0;
    text-decoration: none;
    background-color: var(--white);
    color: var(--background);
  }

  .myForm {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
     /* padding-left:2.5em;
    padding-right:2.5em; */
    padding:0;
    padding-bottom:0;
    margin-top:0;
  }
}

  